.attendance-sheet-container {
    margin-top: 2rem;
    margin-left: 20vw;
}
.table-container {
    width: 20%;
}
table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 50vw;
}

th, td {
    border: 2px solid black;
    width: 50%;
    text-align: center;
}