
.change_password_canvas{
    background: url('https://img.freepik.com/free-vector/student-campus-flat-composition-with-university-building-background-vector-illustration_1284-81556.jpg?w=996&t=st=1683974654~exp=1683975254~hmac=3190901c365c6a3b4eeb5382eda88a1701028dc64d33b31d28a2330d3f69df5d');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.change-form-container {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 400px;
    height: 100vh;
    padding: 50px;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 400px;
    height: 85vh;
    padding: 50px;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.082);
  }
  
  .header-name {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
  }
  
  hr {
    margin: 20px 0;
    border: none;
    border-top: 2px solid #ddd;
    width: 100%;
  }
  
  ._form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  ._form-control {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    width: 100%;
  }
  
  .password-toggle-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .password-toggle-button i {
    color: #888;
    font-size: 16px;
  }


  .btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .forgot-change {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
  }
  
  .fc_form-group a {
    text-decoration: none;
    color: #24272b;
    font-weight: bold;
  }
  
  .signup-footer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .unify {
    margin-bottom: 5px;
    font-size: 28px;
    font-weight: bold;
  }
  
  .last {
    font-size: 14px;
    color: #1d1b1b;
  }
  