.classroom {
    margin-top: 2rem;
    margin-left: 20rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.class-card {
    flex-basis: calc(100% / 4);
    margin-right: 1rem;
    margin-bottom: 1rem;
    height: 10rem;
    border: 0.5px solid rgba(220,222,225,255);
    border-radius: 5px;
}

.class-card:hover {
    box-shadow: 0px 20px 30px -10px rgba(220,222,225,255);
}

.inner-card {
    padding: 0.3rem 0.8rem;
    padding-bottom: 0px;
    background-color: rgba(50,172,113,255);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.class-title {
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.class-author {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    color: white;
}

.Student-classroom-container-temp{
    margin-left: 20rem;
}