.individual-classroom-card-container {
    background-color: #f8f9fa;
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
    width: 18rem;
    margin: 2rem;
    background-color: #333;
    color: #f8f9fa;

  }
 .classroom{
  margin-top: 5rem;
 } 
  .individual-classroom-card-container:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  }
  
  .individual-classroom-card-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .course-id {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }
  
  .program-id {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .batch {
    font-size: 0.8rem;
    margin-bottom: 0;
  }
  