/* Styles for feedback container */
.messages-container {
  margin-top: 1rem;
  margin-left: 20rem;
  margin-right: 2rem;
}

.feedback-card {
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 0.8rem 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.feedback-title {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: rgba(13,110,253,255);
}

.reply-card {
  margin-left: 4rem;
  margin-bottom: 1rem;
  padding: 0.8rem 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.reply-button {
  margin-top: 0.4rem;
  font-size: 14px;
  border: none;
  background-color: #fff;
  color: grey;
}

.reply-button:Hover {
  color: rgba(13,110,253,255);
}
