 .navbar {
  background-color: #6aaacf;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.navbar-links li {
  margin: 0 10px;
}

.navbar-links a {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.navbar-links a:hover {
  color: #f2f2f2;
}

.navbar-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f2f2f2;
}

.navbar-profile svg {
  color: #0077be;
  width: 16px;
  height: 16px;
} 

