.popup-plus{
  width: 8rem;
  height: 8rem;
  border: 0.5px solid rgba(220,222,225,255);
  border-radius: 50%;
  margin-top: 6rem;
  margin-left: 25rem;
  background-color: rgb(190, 241, 241);
}

.literallyplus{
    font-size: 80px;
    font-weight: 100;
    color: rgb(2, 2, 2);
}
.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 200%;
  padding: 5px;
  
}

