.login-canvas{
  background: url('https://img.freepik.com/free-vector/student-campus-flat-composition-with-university-building-background-vector-illustration_1284-81556.jpg?w=996&t=st=1683974654~exp=1683975254~hmac=3190901c365c6a3b4eeb5382eda88a1701028dc64d33b31d28a2330d3f69df5d');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.signin-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 400px;
  height: 85vh;
  padding: 50px;
  /* border: 1px solid #ddd; */
  border-radius: 5px;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.082);
}

.signin-form-container h1 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.signin-form-container hr {
  margin: 20px 0;
  border: none;
  border-top: 2px solid #ffffff;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 210%;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
  width: 15rem;
}

.login_button {
  background-color: #00ccff;
  color: #bd4040;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.login_button:hover {
  background-color: #0069d9;
}

.forgot-change {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.fc_form-group a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.signup-footer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.unify {
  margin-bottom: 5px;
  font-size: 28px;
  font-weight: bold;
}

.last {
  font-size: 14px;
  color: #1d1b1b;
}