.navbar{
  position: fixed;
  width: 100%;
}
.event-container {
  margin-top: 3rem;
  margin-left: 20rem;
}
.event-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    margin : 20px 0px 20px 20px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    width : 70vh;
    height: 40vh;
  }
  
  .event-card:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  }
  
  .event-card__image {
    height: 50%;
    background-size: auto;
    background-position: center;
  }
  
  .event-card__content {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .event-card__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .event-card__date {
    font-size: 16px;
    color: #999;
    margin-bottom: 10px;
  }
  
  .event-card__location {
    font-size: 16px;
    color: #999;
  }
  
  .event-card__description {
    margin-top: 20px;
  }
  
.center {
  transform: scale(1.5);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-list-container {
  width: 100%;
  display: flex;
}

.article-card {
  width: 350px;
  height: 220px;
  margin-top: 1rem;
  margin-right: 4rem;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 300ms;
}

.article-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.article-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-card .content {
  box-sizing: border-box;
  width: 100%;
  padding: 30px 20px 20px 20px;
  height: auto;
  bottom: 0;
  /* background: linear-gradient(transparent, rgba(0, 0, 0, 0.6)); */
}

.article-card .date,
.article-card .title {
  margin: 0;
}

.article-card .date {
  font-size: 12px;
  color: #000;
  margin-bottom: 4px;
}

.article-card .title {
  font-size: 17px;
  color: #000;
}
