.routine-container {
  margin: 5vh 10vw 5vh 20vw;
  width: 80%;
}

.table100 {
    margin-top: 6rem;
    margin-left: 16rem;
    margin-right: 2rem;
}

table {
    width: 100%;
    background-color: #fff
}

th,td {
    font-weight: unset;
    padding-right: 10px
}

.column100 {
    width: 130px;
    padding-left: 25px
}

.column100.column1 {
    width: 265px;
    padding-left: 42px
}

.row100.head th {
    padding-top: 24px;
    padding-bottom: 20px
}

.row100 td {
    padding-top: 18px;
    padding-bottom: 14px
}

.table100.ver5 tbody tr:nth-child(even) {
    background-color: #e9faff
}

.table100.ver5 td {
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: gray;
    line-height: 1.4;
    position: relative
}

.table100.ver5 th {
    font-family: Montserrat-Medium;
    font-size: 12px;
    color: #fff;
    line-height: 1.4;
    text-transform: uppercase;
    background-color: #002933
}

.table100.ver5 .row100:hover td {
    color: #fe3e64
}

.table100.ver5 .hov-column-ver5 {
    color: #fe3e64
}

.table100.ver5 .hov-column-ver5::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2
}

.table100.ver5 .hov-column-head-ver5 {
    background-color: #1a3f48!important;
    color: #fe3e64
}

.table100.ver5 .row100 td:hover {
    color: #fe3e64
}

.table100.ver5 .row100 td:hover:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    border: 1px solid #fe3e64
}

.dropdown-container {
    margin: 5vh 10vw 5vh 20vw;
}

.selected {
    background-color: royalblue;
}

.class-form-field-container {
    margin: 5vh 10vw 5vh 20vw;
}

input {
    margin-bottom: 3vh;
}